<!DOCTYPE html>
@{     
    Project.Model.V_xy_sp_userspirit o = Model as Project.Model.V_xy_sp_userspirit;
    var lifeStr = o.SpiritLife + "/" + @o.SpiritLifeMax;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="../AClientScripts/jquery-1.10.2.min.js"></script>
    <script src="../AClientScripts/ChatRoom.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr><td>姓名：</td><td>@o.SpiritName</td><td>等级：</td><td>@o.SpiritLevel</td></tr>
                <tr><td>生命：</td><td>@lifeStr</td><td>法力：</td><td>100/100</td></tr>
                <tr><td>金币：</td><td>@o.SpiritMoney</td><td>经验值：</td><td>>@o.SpiritExperience</td></tr>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr><td>物理攻击力：</td><td>>@o.PhysicalHarm</td><td>物理防御力：</td><td>@o.PhysicalResistance</td></tr>
                <tr><td>魔法攻击力：</td><td>>@o.MagicHarm</td><td>魔法防御力：</td><td>@o.MagicResistance</td></tr>
                <tr><td>速度：</td><td>@o.Spiritspeed</td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <table class="table table-bordered">
                <tr><td>头饰：</td><td>草帽</td></tr>
                <tr><td>衣服：</td><td>布衣</td></tr>
                <tr><td>裤子：</td><td>草裙</td></tr>
                <tr><td>鞋子：</td><td>草鞋</td></tr>
                <tr><td>武器：</td><td>木棍</td></tr>
            </table>
        </div>
        <div class="col-md-10">
            <table class="table table-bordered">
                <tr><td colspan="2">所处位置：南部瞻洲-长安<p><a href="" class="btn btn-primary btn-large">选择</a></p></td></tr>
                <tr><td colspan="2">当前任务：@o.CurrentTaskID</td></tr>
                <tr><td colspan="2"><input type="text" style="width:100%" placeholder="任务描述......" /></td></tr>
                <tr><td>选项1：</td><td><p><a href="" class="btn btn-primary btn-large">选择</a></p></td></tr>
                <tr><td>选项2：</td><td><p><a href="" class="btn btn-primary btn-large">选择</a></p></td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <h5><span class="label label-danger">当前怪物列表</span></h5>
        <table class="table table-bordered">
            <tr><td>怪物1：羊头怪</td><td><p><a href="~/Fight" class="btn btn-primary btn-large">挑战</a></p></td></tr>
            <tr><td>怪物2：牛头怪</td><td><p><a href="~/Fight" class="btn btn-primary btn-large">挑战</a></p></td></tr>
            <tr><td>怪物头领：金角大仙</td><td><p><a href="~/Fight" class="btn btn-primary btn-large">挑战</a></p></td></tr>
        </table>
    </div>
    </body>
</html>


