<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")@*检测不同的浏览器对于HTML5特性的支持情况*@
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <ol class="breadcrumb">
        <li><a href="#">任务</a></li>
        <li><a href="#">队伍</a></li>
        <li><a href="#">角色</a></li>
        <li><a href="#">背包</a></li>
        <li><a href="#">好友</a></li>
        <li><a href="#">地图</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                商城
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">买卖</a></li>
                <li class="divider"></li>
                <li><a href="#">摆摊</a></li>
                <li class="divider"></li>
                <li><a href="#">充值</a></li>
            </ul>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                更多
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">剧情介绍</a></li>
                <li><a href="#">优化建议</a></li>
                <li><a href="#">关于我们</a></li>
                <li class="divider"></li>
                <li><a href="#">分离的链接</a></li>
                <li class="divider"></li>
                <li><a href="#">另一个分离的链接</a></li>
            </ul>
        </li>
        </li>
    </ol>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
