@model IEnumerable<Project.DAL.Database.xy_sp_equipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gainType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gainValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipmentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gainType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gainValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipmentID })
        </td>
    </tr>
}

</table>
